*{
    font-family: Arial;
}

body{
    margin: 0;
    padding: 0;
}

/*HEADER*/
.header{
    background-color: #000000;

}

.container{
    display: flex;
    width: 80%;
}

.imagem{
    display: flex;
    width: 250px;
    margin-left: 40px;
}

.header .container{
    justify-content: space-between;
}

.titulo{
    margin-top: 30px;
    color: #000000;
    font-weight: 500;
    margin-right: 50%;
}

.navbar{
    display: flex;
    width: 400px;   
    align-items: center;
    list-style: none;
    justify-content: space-between;
    margin-right: -250px;;
}

.navbar a, .navbar li{
    color: #ffffff;
    text-decoration: none;
}

/*BANNER*/
.banner{
    background-image: url('assets/promo_collection_banner.png');
    background-size: cover;
    height: 750px;
}

.texto{
    width: 90%;
    display: flex;
    justify-content: center;
}

.desc{
    display: flex;
    flex-direction: column;
}

.banner .texto .desc h1{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.imagem2{
    display: flex;
    width: 250px;
    margin-left: 40px;
}
.formulario{
    margin-top: 3%;
    margin-left: 10%;
    display: flex;
    border-radius: 10px;
    border: 2px solid white;
    width: 350px;
    height: 350px;
}

.desc{
    margin-top: 3%;
    margin-left: 30%;
    background-color: rgb(19, 17, 17);
    display: flex;
    border-radius: 5px;
    border: 2px solid white;
    border-radius: 10px;
    width: 40%;
    height: auto;
    color: white;
}

.desc .ponto{
    margin: 10px 10px 10px 10px;
}
